<div class="container my-5">
  <div class="row justify-content-between">
    <div class="col-md-5 mt-3 mb-5 order-1 order-md-2">
      <img src="/images/addcar.png" alt="Car art" class="img-fluid pt-md-5" />
    </div>

    <div class="col-md-5 mt-3 mb-5 order-2 order-md-1">
      <div class="card card-body">
        <h3 class="text-center mb-3">
          Enter Car Details
        </h3>
        <% include ./partials/messages %>
        <form action="/cars/add" method="POST">
          <!-- car model -->
          <div class="form-group">
            <label for="model">Model: </label>
            <input
              type="text"
              id="model"
              name="model"
              class="form-control"
              placeholder="Enter model"
              value="<%= typeof model != 'undefined' ? model : '' %>"
            />
          </div>
          <!-- Car Variant -->
          <div class="form-group">
            <label for="variant">Variant: </label>
            <input
              type="text"
              id="variant"
              name="variant"
              class="form-control"
              placeholder="Enter variant"
              value="<%= typeof variant != 'undefined' ? variant : '' %>"
            />
          </div>
          <!-- car company -->
          <div class="form-group">
            <label for="company">Company: </label>
            <input
              type="text"
              id="company"
              name="company"
              class="form-control"
              placeholder="Enter company"
              value="<%= typeof company != 'undefined' ? company : '' %>"
            />
          </div>
          <!-- car mileage -->
          <div class="form-group">
            <label for="mileage">Mileage [ km/L ]: </label>
            <input
              type="number"
              id="mileage"
              name="mileage"
              class="form-control"
              placeholder="Enter mileage"
              step="0.01"
              value="<%= typeof mileage != 'undefined' ? mileage : '' %>"
            />
          </div>
          <!-- car cylinders -->
          <div class="form-group">
            <label for="cylinders">Number of Cylinders: </label>
            <input
              type="number"
              id="cylinders"
              name="cylinders"
              class="form-control"
              placeholder="Enter cylinders"
              value="<%= typeof cylinders != 'undefined' ? cylinders : '' %>"
            />
          </div>
          <!-- car clearance -->
          <div class="form-group">
            <label for="clearance">Clearance [ cm ]: </label>
            <input
              type="number"
              id="clearance"
              name="clearance"
              class="form-control"
              placeholder="Enter clearance"
              step="0.01"
              value="<%= typeof clearance != 'undefined' ? clearance : '' %>"
            />
          </div>
          <!-- car horsepower -->
          <div class="form-group">
            <label for="horsepower">Horsepower [ hp ]: </label>
            <input
              type="number"
              id="horsepower"
              name="horsepower"
              class="form-control"
              placeholder="Enter horsepower"
              step="0.01"
              value="<%= typeof horsepower != 'undefined' ? horsepower : '' %>"
            />
          </div>
          <!-- car topspeed -->
          <div class="form-group">
            <label for="topspeed">Top speed [ km/h ]: </label>
            <input
              type="number"
              id="topspeed"
              name="topspeed"
              class="form-control"
              placeholder="Enter top speed"
              step="0.01"
              value="<%= typeof topspeed != 'undefined' ? topspeed : '' %>"
            />
          </div>
          <!-- car airbags -->
          <div class="form-group">
            <label for="airbags">Number of Airbags: </label>
            <input
              type="number"
              id="airbags"
              name="airbags"
              class="form-control"
              placeholder="Enter airbags"
              value="<%= typeof airbags != 'undefined' ? airbags : '' %>"
            />
          </div>
          <!-- car fueltype -->
          <div class="form-group">
            <label for="fueltype"
              >Fueltype [ Petrol/ Diesel/ Hybrid/ Electric ]:
            </label>
            <input
              type="text"
              id="fueltype"
              name="fueltype"
              class="form-control"
              placeholder="Enter fueltype"
              value="<%= typeof fueltype != 'undefined' ? fueltype : '' %>"
            />
          </div>
          <!-- car image link -->
          <div class="form-group">
            <label for="image">image [link]: </label>
            <input
              type="text"
              id="image"
              name="image"
              class="form-control"
              placeholder="Enter image"
              value="<%= typeof image != 'undefined' ? image : '' %>"
            />
          </div>
          <!-- car price -->
          <div class="form-group">
            <label for="price">Price [Lakhs]: </label>
            <input
              type="number"
              id="price"
              name="price"
              class="form-control"
              placeholder="Enter price"
              value="<%= typeof price != 'undefined' ? price : '' %>"
              step="0.00000001"
            />
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Add Car
          </button>
        </form>
      </div>
    </div>
  </div>

  <a href="/dashboard" class="btn btn-primary my-2">Go Back</a>
</div>
