<div class="container my-5">
  <div class="row justify-content-end">
    <div class="col-sm-4 my-4">
      <!-- Car image goes here -->
    </div>
    <div class="col-sm-4 my-5">
      <div class="card card-body">
        <h3 class="text-center mb-3">
          Enter Car Details
        </h3>
        <% include ./partials/messages %>
        <form action="/cars/add" method="POST">
          <!-- car model -->
          <div class="form-group">
            <label for="model">Model: </label>
            <input
              type="text"
              id="model"
              name="model"
              class="form-control"
              placeholder="Enter model"
              value="<%= typeof model != 'undefined' ? model : '' %>"
            />
          </div>
          <!-- car company -->
          <div class="form-group">
            <label for="company">Company: </label>
            <input
              type="text"
              id="company"
              name="company"
              class="form-control"
              placeholder="Enter company"
              value="<%= typeof company != 'undefined' ? company : '' %>"
            />
          </div>
          <!-- car mileage -->
          <div class="form-group">
            <label for="mileage">Mileage [km/L]: </label>
            <input
              type="number"
              id="mileage"
              name="mileage"
              class="form-control"
              placeholder="Enter mileage"
              value="<%= typeof mileage != 'undefined' ? mileage : '' %>"
            />
          </div>
          <!-- car cylinders -->
          <div class="form-group">
            <label for="cylinders">Number of Cylinders: </label>
            <input
              type="number"
              id="cylinders"
              name="y"
              class="form-control"
              placeholder="Enter cylinders"
              value="<%= typeof cylinders != 'undefined' ? cylinders : '' %>"
            />
          </div>
          <!-- car clearance -->
          <div class="form-group">
              <label for="clearance">Clearance [cm]: </label>
              <input
                type="number"
                id="clearance"
                name="y"
                class="form-control"
                placeholder="Enter clearance"
                value="<%= typeof clearance != 'undefined' ? clearance : '' %>"
              />
          </div>
          <!-- car horsepower -->
          <div class="form-group">
              <label for="horsepower">Horsepower [hp]: </label>
              <input
                type="number"
                id="horsepower"
                name="y"
                class="form-control"
                placeholder="Enter horsepower"
                value="<%= typeof horsepower != 'undefined' ? horsepower : '' %>"
              />
          </div>
          <!-- car topspeed -->
          <div class="form-group">
              <label for="topspeed">Top speed [km/h]: </label>
              <input
                type="number"
                id="topspeed"
                name="y"
                class="form-control"
                placeholder="Enter top speed"
                value="<%= typeof topspeed != 'undefined' ? topspeed : '' %>"
              />
          </div>
          <!-- car airbags -->
          <div class="form-group">
              <label for="airbags">Number of Airbags: </label>
              <input
                type="number"
                id="airbags"
                name="y"
                class="form-control"
                placeholder="Enter airbags"
                value="<%= typeof airbags != 'undefined' ? airbags : '' %>"
              />
          </div>
          <!-- car fueltype -->
          <div class="form-group">
              <label for="fueltype">Fueltype [Petrol/ Diesel/ Hybrid/ Electric]: </label>
              <input
                type="text"
                id="fueltype"
                name="fueltype"
                class="form-control"
                placeholder="Enter fueltype"
                value="<%= typeof fueltype != 'undefined' ? fueltype : '' %>"
              />
            </div>

          <button type="submit" class="btn btn-primary btn-block">
            Add Car
          </button>
        </form>
      </div>
    </div>
  </div>
</div>