<div class="container">
  <table class="table table-striped table-hover table-responsive-lg my-5 pb-5">
    <thead>
      <tr>
        <th>No.</th>
        <th>Model</th>
        <th>Company</th>
        <th>Mileage</th>
        <th>Cylinders</th>
        <th>Clearance</th>
        <th>Horsepower</th>
        <th>Topspeed</th>
        <th>Airbags</th>
        <th>Fuel Type</th>
        <th>Added By</th>
      </tr>
    </thead>

    <tbody>
      <% cars.forEach(function (car, index) { %>
        <tr>
          <td> <%= index+1 %> </td>
          <td> <%= car.model %> </td>
          <td> <%= car.company %> </td>
          <td> <%= car.mileage %> </td>
          <td> <%= car.cylinders %> </td>
          <td> <%= car.clearance %> </td>
          <td> <%= car.horsepower %> </td>
          <td> <%= car.topspeed %> </td>
          <td> <%= car.airbags %> </td>
          <td> <%= car.fueltype %> </td>
          <td> <%= car.editor %> </td>
        </tr>
      <% }) %>
    </tbody>
</table>
</div>